<section>
<h1 class="colGray alignCenter"> Maharatna Developers</h1>
<div class="container marTop20">
    <div class="container-fluid">
            <ul>
            <li>
        Founded in 2019,
        yet profound, philosophy of ‘Creation, not construction’,
        Maharatna Developers is a rapidly growing real estate company with dominant presence in the Pune residential market.
            </li>
            <li>
                The company has been creating landmarks for over 2 years 
                and has developed and constructed over 20 projects including residential 
                complexes, commercial complexes
                covering a saleable across Pune area.
            </li>
            <li>
                Maharatna Developers is a trusted name with an established reputation
                 for high quality standards, design uniqueness and transparency.
            </li>
            <li>
                Headed by a team of visionaries and dynamic leaders, 
                  the long-lasting mission of the company is to create spaces which 
                  are present-perfect and future-proof, blend well with the surroundings,
                   and exude vitality and aesthetic appeal. 
            </li>
            <li>
                Honesty, innovation, excellence, 
                   sustainability, value creation,
                    and commitment to timely delivery are the core values of our company, 
                which are perfectly aligned with every sq. ft. we build
            </li>
        </ul>
        </div>
    
</div>
</section>
<app-footer></app-footer>