<div class="container">
    <h1 class="colGray alignCenter">Our Projects</h1>
    <div class="container">
        <div class="container">
          <div class="row">
          <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="../assets/building1.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Ravet Site</h4>
              <p class="card-text">This site has been developed by Maharatna Developers</p>
              
            </div>
          </div>
        </div>
          <div class="col-md-3">
          <div class="card" >
            <img class="card-img-top" src="../assets/building2.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Punawale Site</h4>
              <p class="card-text">This site has been developed by Maharatna Developers</p>
            </div>
          </div>
          </div>
      
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="../assets/building3.jpg" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Punawale Site</h4>
                <p class="card-text">This site has been developed by Maharatna Developers</p>
              </div>
            </div>
            </div>
            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top" src="../assets/building1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Punawale Site</h4>
                  <p class="card-text">This site has been developed by Maharatna Developers</p>
                </div>
              </div>
              </div>
              </div>
              <!-- close of 1st row -->
              <div class="row">
                <div class="col-md-3">
                <div class="card">
                  <img class="card-img-top" src="../assets/building1.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">Ravet Site</h4>
                    <p class="card-text">This site has been developed by Maharatna Developers</p>
                    
                  </div>
                </div>
              </div>
                <div class="col-md-3">
                <div class="card" >
                  <img class="card-img-top" src="../assets/building2.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">Punawale Site</h4>
                    <p class="card-text">This site has been developed by Maharatna Developers</p>
                  </div>
                </div>
                </div>
            
                <div class="col-md-3">
                  <div class="card">
                    <img class="card-img-top" src="../assets/building3.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">Punawale Site</h4>
                      <p class="card-text">This site has been developed by Maharatna Developers</p>
                    </div>
                  </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img class="card-img-top" src="../assets/building1.jpg" alt="Card image" style="width:100%">
                      <div class="card-body">
                        <h4 class="card-title">Punawale Site</h4>
                        <p class="card-text">This site has been developed by Maharatna Developers</p>
                      </div>
                    </div>
                    </div>
                    </div>
                    <!-- close of 2nd row -->
                    <div class="row">
                      <div class="col-md-3">
                      <div class="card">
                        <img class="card-img-top" src="../assets/building1.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">Ravet Site</h4>
                          <p class="card-text">This site has been developed by Maharatna Developers</p>
                          
                        </div>
                      </div>
                    </div>
                      <div class="col-md-3">
                      <div class="card" >
                        <img class="card-img-top" src="../assets/building2.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-title">Punawale Site</h4>
                          <p class="card-text">This site has been developed by Maharatna Developers</p>
                        </div>
                      </div>
                      </div>
                  
                      <div class="col-md-3">
                        <div class="card">
                          <img class="card-img-top" src="../assets/building3.jpg" alt="Card image" style="width:100%">
                          <div class="card-body">
                            <h4 class="card-title">Punawale Site</h4>
                            <p class="card-text">This site has been developed by Maharatna Developers</p>
                          </div>
                        </div>
                        </div>
                        <div class="col-md-3">
                          <div class="card">
                            <img class="card-img-top" src="../assets/building1.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                              <h4 class="card-title">Punawale Site</h4>
                              <p class="card-text">This site has been developed by Maharatna Developers</p>
                            </div>
                          </div>
                          </div>
                          </div>
                          <!-- close of 3rd row -->
                          
        </div>
      </div>
</div>
<app-footer></app-footer>
