.colGray{
    color: gray;
}
.marTop20{
    margin-top: 20px;
}
.alignCenter{
    text-align: center;
}
.marTop10{
    margin-top: 10px;
}
.colDodggerBlue{
    color: dodgerblue;
}
.colGray{
    color: gray;
}
.padRight6{
    padding-right: 6px;
}
.marTop30{
    margin-top: 30px;
}