
<div class="container">
    <h1 class="colGray alignCenter">Contacts</h1>
    <div class="row">

            <h4 class="alignCenter">With our 'You on Priority' approach and future-proof homes, we have won millions of hearts across Pune.</h4>
                   <h4 class="alignCenter"> Watch our residents share the joy of being part of this big family.</h4>
        
    </div>
    
</div>

<div class="container marBottom40 marTop30">
    <div class="row">
     <div class="col-md-1"></div>
      <div class="col-md-3 boxShadow" style="text-align: center; border: 1px solid lightgray;">
        <h3>Shubham Sarode</h3>
        <h4>Pune and PCMC Area</h4>
        <hr>
        <p>
            <i class="fa fa-envelope colGray padRight6" aria-hidden="true"></i><b>shubhamsarode@gmail.com</b>
        </p>
        <p class="marTop10">
            <i class="fa fa-phone-square colDodggerBlue padRight6" aria-hidden="true"></i><b> 9199991991</b>
        </p>
        </div>

        <div class="col-md-1"></div>
      <div class="col-md-3 boxShadow" style="text-align: center; border: 1px solid lightgray;">
        <h3>Vishal Appa</h3>
        <h4>Solapur Area</h4>
        <hr>
        <p>
            <i class="fa fa-envelope colGray padRight6" aria-hidden="true"></i><b>@vishalappa@gmail.com</b>
        </p>
        <p class="marTop10">
            <i class="fa fa-phone-square colDodggerBlue padRight6" aria-hidden="true"></i><b> 9199991991</b>
        </p>
        </div>

        <div class="col-md-1"></div>
      <div class="col-md-3 boxShadow" style="text-align: center; border: 1px solid lightgray;">
        <h3>Ankush Kshirsagar</h3>
        <h4>Ahmednagar Area</h4>
        <hr>
        <p>
            <i class="fa fa-envelope colGray padRight6" aria-hidden="true"></i><b>ankushkshirsagar@gmail.com</b>
        </p>
        <p class="marTop10">
            <i class="fa fa-phone-square colDodggerBlue padRight6" aria-hidden="true"></i><b> 9199991991</b>
        </p>
        </div>

    </div>
    <div class="marTop40">
        <h3 class="colGray">Office Address</h3>
        <h4>Maharatna Dveleopers & Construction,</h4>
        <h4> Opposite to Jambhe Bus Stop,Jambhe, Tal-Mulshi,Pune-411033</h4>
        <h6><a href="https://www.google.com/maps/place/Maharatna+Developers+and+Constructions/@18.6328856,73.736615,14z/data=!4m6!3m5!1s0x3bc2bbec7cd0fb7b:0xf695150b2d56913a!4b1!8m2!3d18.6405612!4d73.7219826">View on Map</a></h6>
    </div>
 
 
</div>

<app-footer></app-footer>
