

    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <span>
                <img src="../../assets/logo.PNG" style="height: 100px; widows: 100px;" alt="logo">
            </span>
          </div>
          <ul class="nav navbar-nav">
            <li><a routerLinkActive="active" routerLink="home">Home</a></li>
            <li><a routerLink="about">About US</a></li>
            <li><a routerLink="project">Projects</a></li>
            <li><a routerLink="contact">Contact US</a></li>
          </ul>
        </div>
      </nav>
    